p{
   
    margin-top: 0px;
    margin-bottom: 0px;
}
body{
    font-family: Roboto, arial;
    margin: 0;
    padding-top: 80px;
    padding-left: 96px;
    padding-right: 24px;
    background-color: rgba(205, 205, 205, 0.15);
}